@import '../../../config/config.css';

@media (orientation: portrait) {

  .Casa {
    width: var(--tamW-1por8);
    height: var(--tamW-1por8);
    
  }
}

@media (orientation: landscape) {
  .Casa {
    width: var(--tamH-1por8);
    height: var(--tamH-1por8);
  }
}

.Casa{
  transition: 0.5s;
}

.Casa:hover{
  background-color: var(--c-destaque);
}

.Preta {
  background-color: var(--c-casa1);
}

.Branca {

  background-color: var(--c-casa2);
}