h1{
    font-family: Inter;
}
hr{
    height: 2px;
}
.titulo{
    width: 100%;
}

._1{
    font-size: 50px;
}
._2{
    font-size: 50px;
}
._3{
    font-size: 50px;
}
._4{
    font-size: 50px;
}
._5{
    font-size: 50px;
}
._6{
    font-size: 50px;
}
._7{
    font-size: 50px;
}