:root{
    --c-fundo: #000;
    --c-casa1: #ffffff;
    --c-casa2: #383838;
    --c-peca1: #00c8ff;
    --c-peca2: #ff5e00;
    --c-destaque: #919191;
    --c-2: #000;
    --c-3: #000;


    --tamW-1por8: 12vw;
    --tamH-1por8: 12vh;
}
*{
    margin: 0;
    padding: 0;
    bottom: 0;
}