@import url('https://fonts.googleapis.com/css2?family=Playwrite+BR:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

:root {
  /*navBar*/
  --c01: #000;
  --c02: #fff;
  /*Letras em navBar*/


  /*Botões Carousel*/
  --c13: #ffffff3e;
  /*Cor de fundo de loja item*/

  /*Linhas*/
  --c03: #000000;
  /*Cor das linhas, menos da legenda*/


  /*Foco ou hover dos itens*/
  --c04: #c8eef3;
  /*Foco geral*/
  --c05: #007bff;
  /*Foco geral borda*/
  /*Botões*/
  --c06: #95f3ff;
  /*Cor dos botões */
  --c07: #007bff;
  /*Foco Botões*/
  --c08: #F4A460;
  /*Foco Botões borda*/

  /*Bottom*/
  --c09: #000000;
  /*Cor da legenda Final*/
  --c10: #fff;
  /*Cor da letra da legenda Final*/
  --c11: #ffffff;
  /*Cor das linhas da legenda*/

  /*Loja/Cursos*/
  --c12: #f6fbfc;
  /*Cor de fundo de loja item*/



  --f2: "Roboto", sans-serif;
  --f1: "Playwrite BR", cursive;
}

/* A largura da scrollbar */
::-webkit-scrollbar {
  width: 0.1px;
  height: 0.1px;
}

html {
  scroll-behavior: smooth;
  /* Adiciona um efeito de rolagem suave */
}

button {
  width: auto;
  height: auto;
  padding: 8px;
  border-radius: 4px;
  margin: 4px;
  background-color: var(--c06);
  cursor: pointer;
}

a {
  text-decoration: none;
}

button:hover {

  background-color: var(--c07);
  border-color: var(--c08);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--f1);
}

p {
  font-size: 15px;
}

.line {
  width: 100%;
  border-top: 1px solid var(--c03);
  margin: 20px 0;
}

body {
  background-color: var(--c12);
  scrollbar-width: thin;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--c01);
  color: var(--c02);
  padding-left: 20px;
  padding-right: 40px;
}

.navbar a{
  color: var(--c02)
}

.carousel {
  position: relative;
  /* background-color: #007bff; */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sticky-div {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  /* background-color: lightblue; */
  width: 100%;
}

.carousel-item {
  opacity: 0;
  position: absolute;
}

.opact_easeInOut_efect_05s {
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  /* Garantir que a imagem ocupe o espaço do contêiner */

}

.opact_easeInOut_efect_05s.active {
  opacity: 1;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}

.carousel-button {
  position: absolute;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
  width: 64px;
  height: 64px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--c13);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-price {
  position: absolute;
  padding: 0px;
  margin: 0px;
  width: auto;
  height: auto;
  left: 50%;
  bottom: 10%;
  transform: translateY(-50%);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: var(--c07);
}

.flex {
  display: flex;
}

.flexWrap {
  flex-wrap: wrap;
}

.justBet {
  justify-content: space-between;
}

.justCen {
  justify-content: center;
}

.justEnd {
  justify-content: flex-end;
}

.justAro {
  justify-content: space-around;
}

.no-break {
  white-space: nowrap;
}

.loja-item {
  width: 300px;
  margin: 32px;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--c12);
}

.loja-img {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--c05);
}

.input-collapse {
  display: none;
}

.label-collapse {
  display: inline-block;
  border-radius: 4px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.label-collapse:hover {
  background-color: var(--c04);
  border-color: var(--c05);
}

.card-content {
  display: none;
  padding: 8px;
  margin-top: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  animation: card-content 0.125s ease-in-out;
  overflow: hidden;
}

.input-collapse:checked~.card-content {
  display: block;
}

@keyframes card-content {
  from {
    height: 20px;
  }

  to {
    min-height: auto;
  }
}

.aliCenter {
  align-items: center;
}

.center {
  text-align: center;
}

.m4 {
  margin: 4px;
}

.m32 {
  margin: 32px;
}

.p32 {
  padding: 32px;
}

.prc100 {
  width: 100%;
}

.prcH100 {
  height: 100%;
}

.scrollY {
  overflow-y: scroll;
}

.prc50 {
  width: 50%;
}

.prc33 {
  width: 33%;
}

.bottom {
  background-color: var(--c09);
  color: var(--c10);
  width: 100%;
  height: auto;
}

.line-b {
  width: 100%;
  border-top: 1px solid var(--c11);
  margin: 20px 0;
}

.carrinho {
  display: flex;
  flex-direction: column;
  /* Coloca os filhos em coluna */
  height: 100vh;
  /* Ocupa a altura total da viewport */
}

.carrinho>.flex:not(.prc100) {
  /* Caso queira garantir que outros elementos, como o título e o botão, não ocupem mais espaço do que o necessário */
  flex-shrink: 0;
  /* Não encolher */
}

#conteudoCarrinho {
  flex-grow: 1;
  /* Ocupa o espaço restante */
  overflow-y: auto;
  /* Adiciona barra de rolagem se necessário */
}

.prc100 {
  /* Garantir que o botão ocupe a largura total disponível */
  margin-top: auto;
  /* Faz com que o botão fique na parte inferior */
}

#filtro_busca {
  width: 40%;
}

#filtro_outros {
  width: 60%;
}

@media (min-width: 769px) {

  #filtro {
    height: 56px;
  }

  .carrinho {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--c12);
    width: 50vw;
    height: 100vh;
    padding: 16px;
    border-radius: 8px 0 0 8px;
    overflow-y: auto;
    z-index: 1000;
    /* Valor alto para garantir que fique acima de outros elementos */
  }

  .sticky-div {
    height: 50px;
    top: 120px;
    background-color: var(--c01);
    color: var(--c02);
  }


  .navbar {
    height: 120px;
  }

  .carousel {
    margin-top: 120px;
  }

  #titulo {
    width: 50%;
  }

  #navegadores {
    width: 50%;
  }

  h_auto {
    height: auto;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 16px;
  }

  #filtro {
    height: 120px;
    flex-direction: column;

    font-size: 12px;
  }

  #filtro_busca {
    width: 100%;
  }

  #filtro_outros {
    width: 100%;
  }

  .carrinho {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--c12);
    width: 50vw;
    height: 100vh;
    padding: 16px;
    border-radius: 8px 0 0 8px;
    overflow-y: auto;
    z-index: 1000;
    /* Valor alto para garantir que fique acima de outros elementos */
  }

  .navbar {
    height: 120px;
  }

  .carousel {
    margin-top: 120px;
  }

  .sticky-div {
    height: 50px;
    top: 120px;
    background-color: var(--c01);
    color: var(--c02);
  }


  #titulo {
    width: 30%;
  }

  #navegadores {
    width: 70%;
  }
}

@media (max-width: 570px) {
  h1 {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 12px;
  }

  #filtro {
    height: 120px;
  }

  .navbar {
    height: 120px;
  }

  .carousel {
    margin-top: 80px;
  }

  .sticky-div {
    height: 50px;
    top: 80px;
    background-color: var(--c01);
    color: var(--c02);
  }

  #titulo {
    width: 50%;
    font-size: 20px;
  }

  #navegadores {
    width: 50%;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 12px;
  }
}

@media (max-width: 320px) {}